/* #660000 , #C34271 ,#F070A1 , #16FFBD , #12C998 , #439F76 */
/* Elements */

body {
    font-family: Arial, Helvetica, sans-serif;
  }

  header {
    width: 100%;
    background-image: url("../img/donut.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: #C34271;
    background-blend-mode: screen;
    margin: 0;
    padding-top: 200px;
  }

h1 {
    font-size: 64px;
    font-weight: bold;
    color: #12C998;
    text-align: center;
    text-shadow: 3px 2px #660000;
    padding: 0;
    margin: 0;
}

h2 {
  color: #660000;
  background-color: rgba(255,255,255, .5);
  text-align: center;
  width: 100%
}

p {
    font-family: verdana;
    font-size: 18px;
    text-align: inherit;
    padding: 10px;
}

nav {
  background-color: #F070A1;
}

/*    background-color: #12C998;
}

li a {
    display: block;
    color: #C34271;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #16FFB8;
    text-decoration: none;
    color: #C34271;
    border: green;
}

a{
  color: #C34271;
}

 */

/* class selectors*/
.custom-toggler{
  border-color: #16FFBD;

}

.navbar-brand{
  color: #16FFBD;
  text-shadow: 1px .5px #12C998;
}

.nav-link{
  color: #yellow;
  text-shadow: .8px 1px #F070A1;
}

.nav-link:hover {
  text-decoration: none;
  color: #16FFB8;
}

.first-container{
  background-color: #12C998;
  background-image: url("../img/brightdo.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: lighten;
  padding-top: 30px;
}


/* id selectors */
#BDPP{
  width: 100%;
  padding: 8px;
  border-radius: 20%;
}
/* Media Query*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .contentheading{
      color:;
    }
    }
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.contentheading{
  color:;
  }
  }
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.contentheading{
  color:;
  }
  }
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.contentheading{
  color:;
  }
  }
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.contentheading{
  color:;
  }
  }

/* Sudo Classes */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
