/*General Styles for Elements throughout the website.  This includes the body backgound texts headers and
paragraphs. right now this is mostly for blocking out the needs of the website. */

body {
    background-color: #ff9999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 0 auto;
    padding: 0;
  }

header {
  width: 100%;
  background-color: #ffe6e6;
  margin: 0 auto;
  padding: 0;
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 2px 1px black;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

h2 {
    color: white;
    text-align: center;
    text-shadow: 2px 1px black;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

h3 {
    color: white;
    text-align: center;
    text-shadow: 2px 1px black;
    text-transform: uppercase;
}

h4 {
    color: white;
    text-align: center;
    text-shadow: 2px 1px black;
    text-transform: uppercase;
}

p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}

q {}

/* id selectors */

#menu {
  background: grey;
  overflow: auto;
  padding: 25px;
  width: 75%;
  margin: 0 auto;
  padding: 0;
}

/* class selectors.  Currently being used for the separate styles of the parts of the menu.  May be albe to
change these to id or elements, or combinse some similar styles together under new classes after figuring out
floats and colums.  */

.combo {
  background: white;
  width: 46%;
  float: left;
}

.drink {
  background: white;
  width: 46%;
  float: right;
}

.sweet {
  background: white;
  width: 46%;
  float: left;
}

.salt {
  background: white;
  width: 46%;
  float: right;
}




/* Media, making menu reactive to all screens*/

@media (min-width: 768px){
}

@media (max-width: 4000px){
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
